<a href="https://colab.research.google.com/github/mohdrab01/Machine-Learning-Lab-Tasks/blob/main/ML_Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ML - Week 1 LAB EXPERIMENTS - 24-Mar-2021
# 18071A0591

##1. Display Current Date and Time

In [ ]:
from datetime import datetime

now = datetime.now()
 
print("now =", now)
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")

print("date and time =", dt_string)

now = 2021-03-24 05:04:49.307073
date and time = 24/03/2021 05:04:49

In [ ]:
import time;

localtime = time.asctime( time.localtime(time.time()) )
print(localtime)

Wed Mar 24 05:32:31 2021

##2. Compute Area of Circle

In [ ]:
r = int(input("Enter Circle Radius: "))
ar = 3.14*r*r
print(f"Area of Circle is {ar}")

Enter Circle Radius: 3
Area of Circle is 28.259999999999998

##3. Display Details

In [ ]:
name = "MD ABDUL RAB"
age = "20"
address = "Hyderabad"
print(name)
print(age)
print(address)

MD ABDUL RAB
20
Hyderabad

##4. Distance between points P(x1,y1) and Q(x2,y2)

In [ ]:
x1 = int(input("Enter x-coordinate of Point P: "))
y1 = int(input("Enter y-coordinate of Point P: "))
x2 = int(input("Enter x-coordinate of Point Q: "))
y2 = int(input("Enter y-coordinate of Point Q: "))
d = math.sqrt( (abs(x1-x2)**2)+(abs(y1-y2)**2))
print("Dist PQ = ",d)

Enter x-coordinate of Point P: 1
Enter y-coordinate of Point P: 2
Enter x-coordinate of Point Q: 3
Enter y-coordinate of Point Q: 4
Dist PQ =  2.8284271247461903

##5. Largest no in list

In [ ]:
print("Enter and arbitrary length list: ")
l = list(map(int,input().split()))
print("Largest no. in list is: ",max(l))

Enter and arbitrary length list:
1 2 3 8 5 4 7 6
Largest no. in list is:  8

##6. Smallest no. in list

In [ ]:
print("Enter and arbitrary length list: ")
l = list(map(int,input().split()))
print("Smallest no. in list is: ",min(l))

Enter and arbitrary length list:
1 2 6 3 6 0 4 2
Smallest no. in list is:  0

##7. Get list sorted in inc order by last element in each tuple from given list of non-empty tuples

In [ ]:
l = [(2,5),(1,2),(4,4),(2,3),(2,1)]

def end(n): 
  return n[-1]

def sort_tuples_list(t):
  return sorted(t, key=end)

print(sort_tuples_list(l))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

##8. Find max of 3 no's

In [ ]:
print("Enter 3 no's:")
a,b,c = map(int,input().split())
print("MAX = ",max(max(a,b),c))

Enter 3 no's:
3 8 1
MAX =  8

##9. Reverse String

In [ ]:
s = input("Enter String: ")
print("Reverse of string is: ",s[::-1])

Enter String: abdulrab
Reverse of string is:  barludba

##10. Print even no's in list

In [ ]:
print("Enter a list: ")
l = list(map(int,input().split()))

def printEven(a):
  for i in range(len(a)):
    if a[i]%2==0: print(a[i],end= " ")

printEven(l)

Enter a list:
1 2 3 4 6 5 8 7
2 4 6 8

In [ ]:
for i in range(1,6):
  print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(1,6):
  print('  '*(5-i),' *'*i)

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
for i in range(5,0,-1):
  print((str(i)+' ')*i)

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
for i in range(5,0,-1):
  j = i
  k = i
  while k > 0:
    print(j, end=" ")
    j+=1 
    k-=1
  print()

5 6 7 8 9
4 5 6 7
3 4 5
2 3
1

In [ ]:
n = 3
a = 1 
b = n * n + 1

for i in range(n, -1, -1):
  for j in range(n, i-1, -1):
    print(" ", end ="")

  for j in range(1, i + 1):
    print(str(a)+"*", end ="")
    a += 1

  for j in range(1, i + 1):
    print(b, end ="")
    if j < i:
        print("*", end ="")
    b += 1

  b = b - (i - 1) * 2 - 1
  print()

 1*2*3*10*11*12
  4*5*8*9
   6*7